---
---

@import "vendor/normalize";
@import "vendor/rem";

$jargonIssueColor: #0074FF;
$genderIssueColor: #4EB200;
$expectationsIssueColor: #3c1488;

// Typography

html {
    font-size: 62.5%;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 140%;
    line-height: 1.3;
    color: #333;
}
h1, h2, h3, p, ul {
    margin: 0;
    @include rem(margin-bottom, 14px);
    font-weight: normal;
}
h1 {
    @include rem(font-size, 36px);
}
h2 {
    @include rem(font-size, 24px);
    text-transform: uppercase;
}
h3 {
    @include rem(font-size, 14px);
    text-transform: uppercase;
}
a {
    color: inherit;
}
.clear{
	clear: both;
}

p.remove-margin {
  margin: 0;
}

// Basic layout styles

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #fff;
}
.header, .main, .footer {
    @extend .clearfix;
}
.header, .footer {
    padding: 15px;
}
.main {
	width:1450px;
    height: 70%;
	margin: 0 auto;
    background-color: #fff;
}

@media only screen and (max-width: 1450px) {
    .main {
		width: 100%;
	}
}
@media only screen and (max-width: 720px) {
    .main {
        height: auto;
    }
}


// Header

.site-name, .tagline {
    @include rem(line-height, 24px);
    margin-bottom: 0;
}
.site-name {
    text-align: center;
    line-height: 2em;
}
.tagline {
    float: left;
}
.dashboard{
	width: 1450px;
	height: auto;
    border: 3px solid #E0E0E0;
	margin: 15px auto;
}
.instruct, .inform{
	width: 660px;
	float: left;
	min-height: 50px;
	padding: 20px;
}
.instruct{
	margin-right:50px;
}
.info-highlight {
    cursor: pointer;
}

@media only screen and (max-width: 1450px) {
	.dashboard{
		width: 100%;
	}
	.instruct, .inform{
		width: 48%;
		padding: 1%;
		margin: 0;
	}
}
@media only screen and (max-width: 720px) {
    .instruct, .inform{
		width: 98%;
		margin: 10px 0;
		float: none;
		height: auto;
	}
}


// Footer

footer p{
	width: 1450px;
	margin:0 auto;
}
@media only screen and (max-width: 1450px) {
    footer p{
		width: 100%;
	}
}
// Columns

.column {
    float: left;
    box-sizing: border-box;
    height: 100%;
}

@media only screen and (max-width: 720px) {
    .column {
        float: none;
        height: auto;
    }
}


// Input area

.input-area {
    width: 700px;
	margin: 0 50px 0 0;
}
@media only screen and (max-width: 1450px) {
    .input-area {
		width: 46%;
		margin: 0 2%;
	}
}
.post-input {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    padding: 20px;
    resize: none;
    background-color: #fff;
    border: 3px solid #E0E0E0 !important;
    border: none;
    @include rem(font-size, 16px);
    line-height: 1.8;
}
.post-input:focus {
    outline: none;
}

@media only screen and (max-width: 720px) {
    .input-area {
        width: auto;
    }
    .post-input {
        width: 100%;
        height: 300px;
    }
}


// Output area

.output-area {
  width: 700px;

}
@media only screen and (max-width: 1450px) {
    .output-area {
		width: 46%;
		margin: 0 2%;
	}
}
.output-tally, .output-issues {
    box-sizing: border-box;
    @extend .clearfix;
}

.post-output {
    @extend .post-input;
    position: relative;
    background-color: #E0E0E0;
    overflow: auto;
}

@media only screen and (max-width: 720px) {
    .output-area {
        width: auto;
    }
    .output-tally, .output-issues {
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width: 550px) {
    .output-tally, .output-issues {
        float: none;
        width: auto;
    }
}

// Context output

.error-highlight {
  cursor: pointer;
  position: relative;
  border-bottom: 5px solid #cc0000;
  &.error-sexism { border-color: $genderIssueColor; }
  &.error-realism { border-color: $expectationsIssueColor; }
  &.error-tech { border-color: $jargonIssueColor; }
}

.tooltip, .error-tooltip {
  position:absolute;
  width: 300px;
  height: auto;
  display: none;
  z-index: 100;

  &.tooltip-show {
    display: block;
  }
}

.info-tooltip {
    padding: 10px;
    background-color: white;
    border: 2px solid #cc0000;
}

// Issue list

.issue-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.issue-list li {
    margin-bottom: 20px;
}
.issue {
    padding: 10px;
    background-color: #fff;
	border: 2px solid red;
	color: red;
    &.issue-sexism { border-color: $genderIssueColor; color: $genderIssueColor; }
    &.issue-realism { border-color: $expectationsIssueColor; color: $expectationsIssueColor}
    &.issue-tech { border-color: $jargonIssueColor; color: $jargonIssueColor; }
}
.issue h3{
	font-size: 1.2em;
	font-weight: bold;
}
.issue p{
	color: #333 !important;
}
.issue h3, .issue p {
    @include rem(margin-bottom, 10px);
}
.issue p:last-child {
    margin-bottom: 0;
}
.level {
    text-transform: none;
    color: rgba(255, 255, 255, .6);
}
.context {
    padding: 10px;
    background-color: #1d1e20;
    color: rgba(255, 255, 255, .6);
    @include rem(font-size, 16px);
    line-height: 1.5;
}
.occurrence {
    display: inline-block;
    padding: 2px 5px;
    background-color: #693434;
    font-style: normal;
    color: #fff;
}
.reason {
    font-style: italic;
	display: block;
	padding: 5px 0 0 0;
	border-top: 1px solid #ddd;
}
.no-issues {
    color: #5ba348;
}

// Reading level

.reading-level {
	float: right;
	width: 295px;
	padding: 15px 0 0 0;
	border-left: 4px solid #ddd;
	border-top: 2px solid #ddd;
}
@media only screen and (max-width: 750px) {
    .reading-level{
		float: none;
		border-left: none;
		margin: 0 auto;
	}
}
.reading-level h3{
	font-weight: bold;
	margin: 0 0 0 15px;
	font-size: 1.2em;
}
.reading-level .circle{
	background-color: #cc0000;
	float: left;
	margin: -5px 15px 0 25px;
}

// Count chart
.count-chart {
	width: 280px;
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    float: right;
	border-left: 4px solid #ddd;
	border-bottom: 2px solid #ddd;
}
@media only screen and (max-width: 750px) {
    .count-chart{
		float: none;
		border-left: none;
		margin: 0 auto;
	}
}
.count {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    width: 80px;
    margin-right: 10px;
    text-align: center;
    @extend .clearfix;
}
.count span {
    display: block;
}
.circle-label {
  text-align: center;
  display: block;
  margin: 10px auto 0;
}
.circle {
  display: block;
  position: relative;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background-color: white;
  &.circle-sexism { background-color: $genderIssueColor; }
  &.circle-realism { background-color: $expectationsIssueColor; }
  &.circle-tech { background-color: $jargonIssueColor; }
}
.bar-label {
    width: 15%;
    overflow: hidden;
}
.bar {
    background-color: #a89b4a;
    border-left: 2px solid #aaabac;
    max-width: 70%;
    margin-right: 10px;
    transition: width .2s ease;
}
.number {
    position: absolute;
    left: 0;
    top: 6px;
	font-weight: bold;
    font-size: 18px;
    color: white;
    line-height: 24px;
    text-align: center;
    width: 35px;
    height: 35px;
}

@media only screen and (max-width: 1100px) {
    .bar-label {
        width: 20%;
    }
    .bar {
        max-width: 65%;
    }
}

@media only screen and (max-width: 900px) {
    .bar-label {
        width: 25%;
    }
    .bar {
        max-width: 60%;
    }
}


// Overlays

.modal, .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.modal {
    background-color: #000;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: 500;
}
.overlay {
    z-index: 501;
}
.overlay-inner {
    width: auto;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #33353a;
    @include rem(font-size, 16px);
}
.overlay-inner a {
    color: #ddd;
}


// Clearfix

.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}


// Hiding

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
