---
title: PostingPro
description: Create job postings that are inclusive and skills-based so that you can find the best match for your company.
layout: page
---

<div id="page_employer">
  <h2>Employer Information</h2>
  <section id="navLink1">
    <h3>Employer</h3>
    <form class="floatLeft">
      <label for="companyName">Company Name</label>
      <input type="text" name="companyName">
    </form>
    <form class="floatLeft second">
      <label for="website">Website (optional)</label>
      <input type="text" name="website">
    </form>
  </section>

  <section id="navLink2">
    <h3>Hiring Contact</h3>
    <form class="floatLeft">
      <label for="contactName">Name</label>
      <input type="text" name="contactName">
    </form>
    <form class="floatLeft second">
      <label for="contact">Email or Phone Number</label>
      <input type="text" name="contact">
    </form>
  </section>

  <section id="navLink3">
    <h3>Employer Description</h3>
    <label for="company-desc">Insert a short paragraph about your company. Include details that capture core values, culture and mission so job seekers clearly understand the environment they will be working in.</label>
    <div id="company-desc" data-control="analysisField"></div>
  </section>

  <section>
    <button data-control="goToJobPageButton" data-event-category="navigate" data-event-action="job">Next Step: Job Information</button>
  </section>
</div>

<div id="page_job" style="display:none;">
  <h2>Job Information</h2>
  <section id="navLink4">
    <form class="floatLeft">
      <label for="employment_type" class="label-heading">Employment Type</label>
      <select class="select" name="employment_type">
        <option value="full_time" selected>Full-Time</option>
        <option value="part_time">Part-Time</option>
        <option value="contract">Contract</option>
        <option value="temporary">Temporary</option>
        <option value="volunteer">Volunteer</option>
        <option value="other">Other</option>
      </select>
    </form>
    <form class="floatLeft">
      <label for="seniorityLevel" class="label-heading">Seniority Level</label>
      <select class="select" name="seniorityLevel">
        <option value="not-applicable">Not Applicable</option>
        <option value="internship">Internship</option>
        <option value="entry" selected>Entry Level</option>
        <option value="associate">Associate</option>
        <option value="mid-senior">Mid-Senior Level</option>
        <option value="director">Director</option>
        <option value="executive">Executive Level</option>
      </select>
    </form>
  </section>

  <section id="navLink5">
    <label for="workAddress" class="label-heading">Primary Work Address</label>
    <form>
      <input type="text" name="workAddress">
    </form>
  </section>

  <section class="examplePosting">
    <button class="basic-button" data-control="showTemplatesButton" data-event-category="navigate" data-event-action="start" data-event-label="From Template">Start from Template</button>
    <h3>Fill fields below with an example job posting</h3>
    <p>Start your job posting with a template and then review to make sure it matches your company standards.</p>
    <div id="template-picker"></div>
  </section>

  <section id="navLink6">
    <label for="workAddress" class="label-heading">Title</label>
    <form>
      <input type="text" name="positionTitle">
    </form>
  </section>

  <section id="navLink7">
    <label for="job-desc" class="label-heading">Short Description of Work</label>
    <div id="job-desc" data-control="analysisField"></div>
  </section>

  <section id="navLink8">
    <label for="activity100" class="label-heading">Example Activities</label>
    <ul id="activity-list"></ul>
    <p class="addAnother" id="activity" data-control="addSingleFieldButton" data-event-category="example activities" data-event-action="add new" title="Add another row"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> Add Another</p>
  </section>

  <section id="navLink9">
    <h3>Foundational Skills</h3>
    <p>Knowledge, skills, and abilities that provide a basis for success and performance in the workplace. Think of these competencies as being specific to personal (integrity, initiative, dependability, etc.), academic (communication, mathematics, critical thinking, etc.), or workplace (problem solving, teamwork, coordinating) situations.</p>
    <h4>Required</h4>
    <ul id="reqcomp-foundation-list"></ul>
    <p class="addAnother" id="reqcomp-foundation" data-control="addDoubleFieldButton" data-event-category="required competencies" data-event-action="add new" title="Add another row"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> Add Another</p>
    <h4>Preferred</h4>
    <ul id="prefcomp-foundation-list"></ul>
    <p class="addAnother" id="prefcomp-foundation" data-control="addDoubleFieldButton" data-event-category="preferred competencies" data-event-action="add new" title="Add another row"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> Add Another</p>
  </section>

  <section id="navLink10">
    <h3>Occupational Skills</h3>
    <p>Knowledge, skills, and abilities, specific to an industry and occupation that are required to successfully work in that role. These skills are more technical and tied to actual processes and equipment ties to a job (IT: system networking, C++ coding, etc.; AM: CNC-machining, product inspection, etc.).</p>
    <h4>Required</h4>
    <ul id="reqcomp-occupation-list"></ul>
    <p class="addAnother" id="reqcomp-occupation" data-control="addDoubleFieldButton" data-event-category="required competencies" data-event-action="add new" title="Add another row"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> Add Another</p>
    <h4>Preferred</h4>
    <ul id="prefcomp-occupation-list"></ul>
    <p class="addAnother" id="prefcomp-occupation" data-control="addDoubleFieldButton" data-event-category="preferred competencies" data-event-action="add new" title="Add another row"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> Add Another</p>
  </section>

  <section id="navLink11">
    <label for="cert100" class="label-heading">Required Certifications</label>
    <p>Insert required certifications only if truly required to ensure that you are promoting the right candidates to apply.</p>
    <ul id="cert-list"></ul>
    <p class="addAnother" id="cert" data-control="addSingleFieldButton" data-event-category="required certifications" data-event-action="add new" title="Add another row"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> Add Another</p>
  </section>

  <section id="exportButton">
    <button data-control="exportPostingPageButton" data-event-category="navigate" data-event-action="export">Next Step: Review</button>
  </section>
</div>

<div id="page_review" style="display:none;">
  <section class="word-doc">
    <button data-control="goToJobPageButton" data-event-category="navigate" data-event-action="back">Previous Step: Job Information</button>
  </section>
  <section id="final-posting"></section>

  <section id="saveButtonContainer">
    <div class="word-doc-width">
      <button data-control="goToJobPageButton" data-event-category="navigate" data-event-action="back">Back</button>
      <button data-control="saveAsWordDocButton" data-event-category="navigate" data-event-action="save as word doc" class="word-doc">Next Step: Save as Word Document</button>
    </div>
  </section>
</div>

{% include site/templatepicker.html %}
{% include site/analysisfield.html %}
{% include site/simplefields.html %}
{% include site/jobpostingtemplate.html %}
{% include site/nav_employer.html %}
{% include site/nav_job.html %}
{% include site/nav_review.html %}
