
<div data-control="summaryOutput">
    <script type="text/x-template" data-template="readingLevel">
	    <div class="issue issue-{level}">
	    	<h3>Reading level: {readingLevel}</h3>
	    	<p>
	    		{#tooHigh}
	    		<span class="solution">Try using simpler words and shorter sentences.</span>
	    		{/tooHigh}
	    		<span class="reason">Most people are comfortable reading at a 5-7 grade reading level. If your job posting is a level much higher than that you may have trouble reaching enough job seekers.</span>
			</p>
		</div>
    </script>
</div>

<p>
    This source code for this site is
    <a href="https://github.com/codeforamerica/joblint/tree/gh-pages">available on GitHub</a>.<br/>
    You can also contribute to the <a href="https://github.com/rowanmanning/joblint">Joblint library</a>
    if you have feedback on some of the rules.
</p>

<p>
    <small>
        Copyright &copy; {{ site.time | date: '%Y' }},
        <a href="http://rowanmanning.com/">Rowan Manning</a> and
        <a href="http://www.phwebs.co.uk/">Perry Harlock</a>
    </small>
</p>
