
<h1 class="site-name">Job Posting Analysis</h1>
<div class="dashboard">
	<div class="instruct">
      <p>It is challenging to write a job posting that is inviting to all the great candidates that might respond. Use the Job Posting Analysis tool to help identify and eliminate words or phrases that might cause quality candidates to pass on your posting.</p>
      <p><i><strong>TIP:</strong>The location of your office can be a potential decision-factor for a candidate so remember to highlight transportation benefits and  public transit.</i></p>
    </div>
    <div class="inform">
      <p>This is a placeholder for the reading analysis area and issue tally.</p>
    </div>
    <div class="clear"></div>
</div>
