---
---
@import "vendor/variables";
@import "vendor/normalize";
@import "vendor/rem";
@import "vendor/buttons";


// Typography //
html { font-size: 62.5%; }
body {
  font: 140% $sans-serif;
  line-height: 1.3;
  color: $blackText;
}
h1, h2, h3, p, ul {
  @include rem(margin-bottom, 10px);
  font-weight: normal;
  padding: 0;
}
h1 {
  @include rem(font-size, 52px);
  font-weight: bold;
  margin-top: 1rem;
}
h2 {
  @include rem(font-size, 42px);
  padding-bottom: 1rem;
  border-bottom: 1px solid $lightGray;
}
h3 {
  @include rem(font-size, 24px);
  line-height: 1.5em;
  margin: 1rem 0;
}
h4 {
  @include rem(font-size, 20px);
  line-height: 2.3em;
  font-weight: bold;
  margin: 1rem 0 .5rem;
}
p {
  @include rem(font-size, 16px);
  line-height: 1.5em;
  margin: 0 0 1rem;
}
ul { list-style-type:  none; }
li { @include rem(font-size, 16px); }
a, span.link {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid $lightGray;
  &:hover{ border-color: $darkGray; }
}
p.remove-margin { margin: 0; }
.bold { font-weight: 700; }
.fa-2x {
  color: $lightGray;
  font-size: 1.5em !important;
  cursor: pointer;
  &:hover { color: $darkGray; }
}
.removeInput {
  max-width: 25px;
  margin: 0 1rem 0 0;
}

// Structure //
html { height: 100%; }
body {
  height: 100%;
  background-color: #fff;
}
#bodyContainer {
  max-width:830px;
  min-height: 80%;
  margin: 0 0 0 235px;
  position: relative;
  top: 129px;
}
header, main, section { @extend .clearfix; }
section {
  width: 100%;
  padding-left: 0;
}
header {
  width:100%;
  position: fixed;
  top: 0;
  z-index: 100;

  .headerCont {
    background-color: $action-color;
    color: #fff;
  }
  h1, h2 { float: left; }
  h1 { padding: 0 0 0 2rem; }
  h2 {
    @include rem(font-size, 16px);
    margin: 3.5rem 0 0 2rem;
    border-bottom: 0;
  }
  .basic-button-outline {
    float: right;
    margin: 2rem 2rem 0 0;
  }
}
footer {
  border-top: 1px solid $lightGray;
  margin: 50px 0 0 0;
  padding: 1rem;
}
section {
  margin: 2rem 0;
  position: relative;
}
nav {
  background-color: $white;
  color: $action-color;
  border-bottom: 2px solid $action-color;

  ul {
    overflow: auto;
    margin: 0;
  }
  li {
    float: left;
    padding: 1rem 0;

    a, span.link {
      padding: 0 2rem;
      border-bottom: 0;
      border-right: 2px solid $action-color;
    }
    a.active, span.link.active { font-weight: bold; }
    &:last-of-type a, &:last-of-type span.link { border-right: 0; }
    span.link { cursor: pointer; }
  }
}
.examplePosting {
  width: 96%;
  border: 3px solid $action-color;
  margin: 4rem 0 2rem;
  padding: 2%;
}


// Basic styles //
form {
  width: 550px;
  position: relative;
}
input {
  @include rem(font-size, 16px);
  line-height: 1.5em;
  width: 94%;
  padding: .5rem;
  margin-bottom: 5px;
  border: 1px solid $darkGray !important;
}
.double-field {
  width: 100%;
  position: relative;
  margin: 0;
  .removeInput, .doubleFieldContainer { float: left; }
  .doubleFieldContainer {
    width: 90%;
    border: 1px solid $lightGray;
    padding: .5rem 1rem;
    input, textarea { width: 98%; }
    p {
      @include rem(font-size, 12px);
      font-weight: bold;
      margin: .5rem 0;
    }
  }
}
.floatLeft {
  float: left;
  width: 300px;
}
.second { width: 500px; }
#activity-list, #cert-list {
  li { margin: 0 0 1rem; }
  form {
    width: 100%;
    position: relative;
  }
  textarea { width: 90%; }
  input, textarea, .removeInput { float: left; }
  li:last-of-type { padding-bottom: 1rem; }
}
select {
  width: 250px;
  @include rem(font-size, 16px);
  line-height: 1.5em;
  display: block;
  margin: 0 0 1rem;
}
textarea {
  @include rem(font-size, 16px);
  line-height: 1.5em;
  width: 98%;
  height: 200px;
  padding: 1%;
  margin: 0 2% 0 0;
  border: 1px solid $darkGray !important;
}
textarea.short { max-height: 50px; }
.columnWrapper { float: left; }
.column {
  width: 530px;
  height: 100%;
  box-sizing: border-box;
}
.addAnother {
  max-width: 110px;
  cursor: pointer;
  position: relative;
  text-align: right;

  .fa-plus-circle {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.removeTemplate {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}

#template-file-name {
  margin-right: 15px;
  font-size: 1.25em;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input-file + label {
    font-size: 1.25em;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
    color: $darkGray;
    text-decoration: underline;
}

.input-file:focus + label,
.input-file + label:hover {
    color: black;
}

// Clearfix //
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after {
  display: table;
  content: '';
}
.clearfix:after { clear: both; }


// Overlays //
.modal, .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.modal {
  background-color: #000;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  z-index: 500;
}
.overlay {
  z-index: 501;
}
.overlay-inner {
  @include rem(font-size, 16px);
  width: auto;
  max-width: 400px;
  padding: 20px;
  margin: 100px auto;
  background-color: #33353a;

  a { color: #ddd; }
}


// Menu //
.scroll-on-page {
  position: fixed;
  width: 225px;
  max-height: 92%;
  left: 1rem;
  top: 132px;
  z-index: 100;
  overflow: auto;

  a {
    color: $darkGray;
    text-decoration: none;
    &:hover { background-color: transparentize($action-color, 0.9); }
  }
  .scrollActive {
    font-weight: bold;
    color: $action-color;
    border-left: 5px solid $action-color;
  }
  .scroll-on-page-link {
    border-left: 5px solid $white;
    border-bottom: 1px solid $darkGray;
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0 ($base-spacing / 2) ($base-spacing / 2);

    &:last-child { margin-bottom: $base-spacing; }
    &:last-of-type { border-bottom: 0; }
  }
  .buttonContainer {
    padding: 0 1rem;
    .basic-button-outline {
      float: left;
      width: 100%;
      text-align: center;
      &:first-of-type { margin: 0 1rem 0 0; }
    }
  }
}


// New or template //
#template-or-new {
  width: 480px;
  margin: 50px auto 0;
}
.button-separator {
  @include rem(font-size, 18px);
  color: $blackText;
  display: inline-block;
  height: 90px;
  line-height: 90px;
  width: 100px;
  vertical-align: middle;
  text-align: center;
}


// Context output //
.error-highlight {
  position: relative;
  border-bottom: 5px solid #cc0000;

  &.error-sexism { border-color: $genderIssueColor; }
  &.error-realism { border-color: $expectationsIssueColor; }
  &.error-tech { border-color: $jargonIssueColor; }
}


// Reading level //
.inform {
  width: 250px;
  height: 210px;
  float: left;
  margin-left: 1rem;
  border: 1px solid $lightGray;
  p {
    @include rem(font-size, 12px);
    width: 100%;
    text-align: center;
    float: left;
    margin: 0;
  }
  .analysisTitle {
    width: 124px;
    font-weight: bold;
    &:first-of-type { border-right: 2px solid $lightGray; }
  }
  .analysis {
    p {
      width: 125px;
      font-weight: bold;
      background-color: $lightGray;
    }
  }
  .suggestions {
    width: 100%;
    padding: .5rem 0;
  }
}


// Competencies //
#reqcomp-occupation-list, #reqcomp-foundation-list, #prefcomp-occupation-list, #prefcomp-foundation-list {
  li { padding: 0 0 1rem; }
  li:last-of-type { padding-bottom: 0; }
}
#reqcomp-occupation, #prefcomp-occupation { margin-bottom: 3rem; }


// Certifications //
#qualificationsNeeded {
  display: none;

  p{ @include centered; }
  form { margin-top: 20px; }
  form input{ width: 80%; }
}


// Export Button //
#exportButton { margin-top: 50px; }
.word-doc-width{
  button {
    float: left;
    margin-right: 1rem;
  }
}


// Export Posting //
#final-posting{

  h3, p, li { text-align: left; }
  ul {
      list-style-type: disc;
      margin: 0 0 0 15px;
  }
}


// Footer  //
footer p {
  @include rem(font-size, 14px);
  line-height: 1rem;
}
