<script type="text/x-template" data-template="analysisField">
  <div class="columnWrapper">
    <div class="column input-area">
      <textarea id="{id}-input" event-id="{id}" data-control="postInput" placeholder="{placeholder}" class="analysis-input"></textarea>
    </div>
  </div>
  <div class="inform">
    <div id="{id}-reading-output" event-id="{id}" data-control="readingLevelOutput" class="analysis"></div>
    <div id="{id}-count-output" event-id="{id}" data-control="countOutput" class="analysis"></div>
  </div>
</script>

<script type="text/x-template" data-template="issueCount">
  <p>Problematic phrases: <span>{issueCount}</span></p>
</script>

<script type="text/x-template" data-template="readingLevel">
  <p class="{level}"><a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests" target="_blank">Grade reading level</a>:<span>{readingLevel}</span></p>
</script>
