<script type="text/x-template" data-template="analysisField">
  <div class="columnWrapper">
    <div class="column input-area">
      <textarea id="{id}-input" event-id="{id}" data-control="postInput" class="analysis-input"></textarea>
    </div>
  </div>
  <div class="inform">
    <p class="analysisTitle">Readability Score</p>
    <p class="analysisTitle">Gender biased phrases</p>
    <div id="{id}-reading-output" event-id="{id}" data-control="readingLevelOutput" class="analysis"></div>
    <div id="{id}-count-output" event-id="{id}" data-control="countOutput" class="analysis"></div>
    <p class="suggestions">Suggestions for Improvement</p>
  </div>
</script>

<script type="text/x-template" data-template="readingLevel">
  <p>{readingLevel}</p>
</script>

<script type="text/x-template" data-template="issueCount">
  <p>{issueCount}</p>
</script>
