<script type="text/x-template" data-template="analysisField">
  <div class="columnWrapper">
    <div class="column input-area">
      <textarea id="{id}-input" event-id="{id}" data-control="postInput" placeholder="{placeholder}" class="analysis-input"></textarea>
    </div>
  </div>
  <div class="inform">
    <p class="analysisTitle">Readability Score</p>
    <p class="analysisTitle">Gender biased phrases</p>
    <div id="{id}-reading-output" event-id="{id}" data-control="readingLevelOutput" class="analysis"></div>
    <div id="{id}-count-output" event-id="{id}" data-control="countOutput" class="analysis"></div>
    <div id="{id}-suggestions" event-id="{id}" data-control="suggestionsOutput">
      <p>Suggestions for improvement</p>
    </div>
  </div>
</script>

<script type="text/x-template" data-template="readingLevel">
  <p>{readingLevel}</p>
</script>

<script type="text/x-template" data-template="issueCount">
  <p>{issueCount}</p>
</script>

<script type="text/x-template" data-template="suggestions">
  {#suggestions}
    <p>{explanation} ({examples})</p>
  {/suggestions}
  {^suggestions}
  <p>Suggestions for improvement</p>
  {/suggestions}
</script>
