<div class="columnWrapper">
  <div class="column input-area">
    <textarea id="job-desc-input" data-control="postInput" placeholder="Paste or write your job description here"></textarea>
  </div>

  <div class="column output-area">
    <div id="job-desc-output" data-control="contextOutput">
        <script type="text/x-template" data-template="highlight">

            <div style="display:inline-block">
                <span class="error-highlight error-{type}">{occurrence}</span>
                {>tooltip}
            </div>

        </script>
        <script type="text/x-template" data-template="tooltip">

            <div class="error-tooltip issue issue-{type}" data-control="errorTooltip">
                <h4>{typeTranslation}</h4>
                <p class="solution">{solution}</p>
                <hr>
                <p class="reason">{reason}</p>
            </div>
        </script>
    </div>
  </div>
</div>
