<div data-control="readingLevelOutput" class="analysis">
  <script type="text/x-template" data-template="readingLevel">
      <h4 class="{level}"><a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests" target="_blank">Grade reading level</a>:<span>{readingLevel}</span></h4>
  </script>
</div>

<div data-control="countOutput" class="analysis">
  <script type="text/x-template" data-template="issueCount">
    <h4>Problematic phrases: <span>{issueCount}</span></h4>
  </script>
</div>
