
<p>
    The source code for this site is
    <a href="https://github.com/codeforamerica/posting-pro">available on GitHub</a>.<br/>
    This project is in Alpha and continuously evolving.
    <br>Please email <a href="mailto:postingpro@codeforamerica.org">postingpro@codeforamerica.org</a> if you have any feedback.
</p>

<p>
    <small>
        Original <a href="https://github.com/rowanmanning/joblint">Joblint</a> library by <a href="http://rowanmanning.com/">Rowan Manning</a> and <a href="http://www.phwebs.co.uk/">Perry Harlock</a>.
        <br>Copyright &copy; {{ site.time | date: '%Y' }}, <a href="http://codeforamerica.org/">Code for America</a>
    </small>
</p>
