<p>The source code for this site is <a href="https://github.com/codeforamerica/posting-pro">available on GitHub</a>.</p>
<p class="less-tight">This project is the result of a partnership between Code for America, the City of New Orleans, and the Markle Foundation, as part of its Skillful initiative, which aims to connect job seekers with the employers and training opportunities needed to engage with the high-growth, well-paying industries of the 21st-century economy.</p>
<p>
  <small>
      Original <a href="https://github.com/rowanmanning/joblint">Joblint</a> library by <a href="http://rowanmanning.com/">Rowan Manning</a> and <a href="http://www.phwebs.co.uk/">Perry Harlock</a>. Copyright &copy; {{ site.time | date: '%Y' }}, <a href="http://codeforamerica.org/">Code for America</a>
  </small>
</p>
