<div class="headerCont">
  <h1>PostingPro</h1>
  <h2>A job posting creation tool that helps you find the best match for your company</h2>
  <button class="basic-button-outline" type="button"><a href="https://github.com/codeforamerica/posting-pro" title="View on Github" target="_blank">View on Github</a></button>
  <div class="clearfix"></div>
</div>
<nav>
  <ul>
    <li><span id="header_nav_employer" class="active link" data-control="goToEmployerPageButton" data-event-category="navigate" data-event-action="employer">Employer Information</span></li>
    <li><span id="header_nav_job" class="link" data-control="goToJobPageButton" data-event-category="navigate" data-event-action="job">Job Posting Information</span></li>
    <li><span id="header_nav_review" class="link" data-control="exportPostingPageButton" data-event-category="navigate" data-event-action="export">Review</span></li>
  </ul>
</nav>
