<h1>PostingPro</h1>
<p class="tagline">Build inclusive job postings that engage quality candidates!</p>
<p>Select a button below to either start a new job posting or build from an existing template. As you edit, the text will be analyzed for grade reading level and gender bias.</p>
<p>Keep the reading level at or below the required education for the position so that it is more inclusive. For example, if the job does not require a college degree then the reading level should not be above 12th grade. Remember, the average adult’s reading level is 7th/8th grade.</p>
