<div class="headerCont">
  <h1>PostingPro</h1>
  <h2>A job posting creation tool that helps you find the best match for your company</h2>
  <button class="basic-button-outline" type="button"><a href="https://github.com/codeforamerica/posting-pro" title="View on Github">View on Github</a></button>
  <div class="clearfix"></div>
</div>
<nav>
  <ul>
    <li><a class="active" href="#" target="Employer Information">Employer Information</a></li>
    <li><a href="#" target="Job Posting Information">Job Posting Information</a></li>
    <li><a href="#" target="Review">Review</a></li>
  </ul>
</nav>
