<script type="text/x-template" data-template="fullJobPosting">
{#positionTitle}
  <h3>Job Title</h3>
  <p>{positionTitle}</p>
{/positionTitle}

{#companyDescription}
  <h3>Company Description</h3>
  <p>{& companyDescription}</p>
{/companyDescription}

{#jobDescription}
  <h3>Job Description</h3>
  <p>{& jobDescription}</p>
{/jobDescription}

<h3>Required Competencies</h3>
{#requiredFoundationalCompetencies.length}
  <h4>Foundational</h4>
  <ul>
    {#requiredFoundationalCompetencies}<li>{name} {description}</li>{/requiredFoundationalCompetencies}
  </ul>
{/requiredFoundationalCompetencies.length}
{#requiredOccupationalCompetencies.length}
  <h4>Occupational</h4>
  <ul>
    {#requiredOccupationalCompetencies}<li>{name} {description}</li>{/requiredOccupationalCompetencies}
  </ul>
{/requiredOccupationalCompetencies.length}

<h3>Preferred Competencies</h3>
{#preferredFoundationalCompetencies.length}
  <h4>Foundational</h4>
  <ul>
    {#preferredFoundationalCompetencies}<li>{name} {description}</li>{/preferredFoundationalCompetencies}
  </ul>
{/preferredFoundationalCompetencies.length}
{#preferredOccupationalCompetencies.length}
  <h4>Occupational</h4>
  <ul>
    {#preferredOccupationalCompetencies}<li>{name} {description}</li>{/preferredOccupationalCompetencies}
  </ul>
{/preferredOccupationalCompetencies.length}

{#exampleActivities.length}
  <h3>Example Activities</h3>
  <ul>
    {#exampleActivities}<li>{name}</li>{/exampleActivities}
  </ul>
{/exampleActivities.length}


{#certificationsNeeded.length}
  <h3>Required Certifications</h3>
  <ul>
    {#certificationsNeeded}<li>{name}</li>{/certificationsNeeded}
  </ul>
{/certificationsNeeded.length}

</script>
