<script type="text/x-template" data-template="fullJobPosting">
{#positionTitle}
  <h3>Job Title</h3>
  <p>{positionTitle}</p>
{/positionTitle}

{#companyDescription}
  <h3>Company Description</h3>
  <p>{& companyDescription}</p>
{/companyDescription}

{#jobDescription}
  <h3>Job Description</h3>
  <p>{& jobDescription}</p>
{/jobDescription}

{#hasRequiredCompetencies}<h3>Required Competencies</h3>{/hasRequiredCompetencies}
{#requiredOccupationalCompetencies}
  <h4>Occupational</h4>
  <ul>
    {#requiredOccupationalCompetencies}<li><strong>{name}</strong>{#description}: {description}{/description}</li>{/requiredOccupationalCompetencies}
  </ul>
{/requiredOccupationalCompetencies}
{#requiredFoundationalCompetencies}
  <h4>Foundational</h4>
  <ul>
    {#requiredFoundationalCompetencies}<li>{name}</strong>{#description}: {description}{/description}</li>{/requiredFoundationalCompetencies}
  </ul>
{/requiredFoundationalCompetencies}

{#hasPreferredCompetencies}<h3>Preferred Competencies</h3>{/hasPreferredCompetencies}
{#preferredOccupationalCompetencies}
  <h4>Occupational</h4>
  <ul>
    {#preferredOccupationalCompetencies}<li><strong>{name}</strong>{#description}: {description}{/description}</li>{/preferredOccupationalCompetencies}
  </ul>
{/preferredOccupationalCompetencies}
{#preferredFoundationalCompetencies}
  <h4>Foundational</h4>
  <ul>
    {#preferredFoundationalCompetencies}<li><strong>{name}</strong>{#description}: {description}{/description}</li>{/preferredFoundationalCompetencies}
  </ul>
{/preferredFoundationalCompetencies}

{#exampleActivities}
  <h3>Example Activities</h3>
  <ul>
    {#exampleActivities}<li>{name}</li>{/exampleActivities}
  </ul>
{/exampleActivities}


{#certificationsNeeded}
  <h3>Required Certifications</h3>
  <ul>
    {#certificationsNeeded}<li>{name}</li>{/certificationsNeeded}
  </ul>
{/certificationsNeeded}

</script>
