<aside id="scroll-on-page-top">
  <a class="scroll-on-page-link indent" href="#">Analysis</a>
  <a class="scroll-on-page-link indent" href="#">Title and Description</a>
  <a class="scroll-on-page-link indent" href="#">Example Activities</a>
  <a class="scroll-on-page-link indent" href="#">Required Certifications</a>
  <a class="scroll-on-page-link indent" href="#">Foundational Skills</a>
  <a class="scroll-on-page-link indent" href="#">Occupational Skills</a>
  <div class="buttonContainer">
    <button class="basic-button-outline">Save to Word Document</button>
  </div>
</aside>
