<script type="text/x-template" data-template="reviewNav">
<a class="scroll-on-page-link" href="#">Analysis</a>
<a class="scroll-on-page-link" href="#navLink12">Title and Description</a>
<a class="scroll-on-page-link" href="#navLink13">Example Activities</a>
<a class="scroll-on-page-link" href="#navLink14">Required Certifications</a>
<a class="scroll-on-page-link" href="#navlink15">Foundational Skills</a>
<a class="scroll-on-page-link" href="#navlink16">Occupational Skills</a>
<div class="buttonContainer">
  <button class="basic-button-outline" data-control="startOverButton" data-event-category="navigate" data-event-action="start over">Save to Word Document</button>
</div>
</script>
