<script type="text/x-template" data-template="jobNav">
<a class="scroll-on-page-link" href="#">Employee Type and Seniority Level</a>
<a class="scroll-on-page-link" href="#">Primary Work Address</a>
<a class="scroll-on-page-link" href="#">Title</a>
<a class="scroll-on-page-link" href="#">Short Description of Work</a>
<a class="scroll-on-page-link" href="#">Example Activities</a>
<a class="scroll-on-page-link" href="#">Foundational Skills</a>
<a class="scroll-on-page-link" href="#">Occupational Skills</a>
<a class="scroll-on-page-link" href="#">Required Certifications</a>
<div class="buttonContainer">
  <button class="basic-button-outline" data-control="startOverButton" data-event-category="navigate" data-event-action="start over">Reset</button>
</div>
</script>
