  <div data-control="readingLevelOutput" class="reading-level reading-level-small {{ include.id }}">
    <script type="text/x-template" data-template="readingLevel">

        <span class="circle">
           <span class="number">?</span>
        </span>
        <h3><span class="{level}">Reading level: {readingLevel}</span>
         </h3>
         <div class="tooltip info-tooltip" data-control="infoTooltip">
            <p>
                {#tooHigh}
                <span class="solution">Try using simpler words and shorter sentences.</span>
                {/tooHigh}
                <span class="reason">Most people are comfortable reading at a 5-7 grade reading level. If your job posting is a level much higher than that you may have trouble reaching enough job seekers.</span>
            </p>
        </div>
    </script>
  </div>