<script type="text/x-template" data-template="singleFieldTemplate">
  <li>
    <form name="{name}-form">
      <input type="text" id="new-{id}" name="value" value="{data}">
      <p class="removeInput" data-control="removeSingleFieldButton" id="{id}" data-event-category="qualifications" data-event-action="remove one" data-event-label="qualification" title="Remove this row"><i class="fa fa-times-circle" aria-hidden="true"></i></p>
      <div class="clearfix"></div>
    </form>
  </li>
</script>

<script type="text/x-template" data-template="doubleFieldTemplate">
  <li>
    <form name="{name}-form" class="double-field">
      <input type="text" id="new-{id}-name" name="name" class="short" {#data}value="{name}"{/data}>
      <input type="text" id="new-{id}-description" name="description" {#data}value="{description}"{/data}>
      <p class="removeInput" data-control="removeSingleFieldButton" id="{id}" data-event-category="qualifications" data-event-action="remove one" data-event-label="qualification" title="Remove this row"><i class="fa fa-times-circle" aria-hidden="true"></i></p>
      <div class="clearfix"></div>
    </form>
  </li>
</script>
