<script type="text/x-template" data-template="skillSet">
  {#skills.length}
    <ul>
        {#skills}
          <li>
            {>skillImportanceSwitcher}
          </li>
        {/skills}
        <li>
          {>skillAdder}
        </li>
    </ul>
    <span class="circle circle-plus" data-control="addSkillsButton" id="add-new-{id}" data-event-category="skills" data-event-action="add new" data-event-label="skill">+</span>
  {/skills.length}
</script>

<script type="text/x-template" data-template="skillImportanceSwitcher">
    <form>
        <fieldset class="switch-field">
            <input type="radio" id="switch-left-{id}" name="switch-{id}" value="preferred" checked data-event-category="skills" data-event-action="mark preferred" data-event-label="{name}"/>
            <label for="switch-left-{id}">Preferred</label>
            <input type="radio" id="switch-right-{id}" name="switch-{id}" value="required" data-event-category="skills" data-event-action="mark required" data-event-label="{name}"/>
            <label for="switch-right-{id}">Required</label>
        </fieldset>
    </form>
    <p>{name}</p><span class="circle circle-remove" data-control="removeSkillButton" id="{id}" data-event-category="skills" data-event-action="remove one" data-event-label="skill ({name})">x</span>
</script>

<script type="text/x-template" data-template="skillAdder">
  <form>
      <fieldset class="switch-field">
          <input type="radio" id="switch-left-new-{id}" name="switch-new-{id}" value="preferred" data-event-category="skills" data-event-action="mark preferred" data-event-label="new skill" checked/>
          <label for="switch-right-new-{id}">Preferred</label>
          <input type="radio" id="switch-right-new-{id}" name="switch-new-{id}" value="required" data-event-category="skills" data-event-action="mark required" data-event-label="new skill" />
          <label for="switch-right-new-{id}">Required</label>
      </fieldset>
  </form>
  <input type="text" name="switch-new-{id}" class="new-skill" placeholder="Type a new skill here" data-event-category="skills" data-event-action="type new skill">
  <span class="circle circle-remove" data-control="removeSkillButton" id="new-{id}" data-event-category="skills" data-event-action="remove one" data-event-label="new skill">x</span>
</script>
